/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue : #0D80E9;
    --blue-gradient : linear-gradient(135deg, #0D80E9, #0770E9);
    --gray : #707070;
    --default-font : 'Poppins';
    --background-white: #FBFBFB;
    --red: #e60729;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}