@import url(dashboard.css);

#content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.image-container {
    flex: 1 0 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-container img {
    width: min(300px, 100%);
    aspect-ratio: 1;
}

.data {
    flex: 1 0 500px;
}

.data .main {
    width: 100%;
}

.functions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.functions .delete-btn, 
.functions .edit-btn {
    flex: 1 0 120px;
    height: 35px;
    max-width: 150px;
}