@import url(main.css);
@import url(design.css);

#content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.image-container {
    flex: 1 0 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-container img {
    width: min(300px, 100%);
    aspect-ratio: 1;
}

.data {
    flex: 1 0 500px;
}

.data .main {
    width: 100%;
}