@import url(dashboard.css);

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}

.category {
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
    /* height: 70px; */
    background: var(--blue);
    color: white;
    border-radius: 3px;
    padding: 10px;
    gap: 5px;
    max-width: 250px;
    text-align: center;
}

.category i {
    font-size: 20px;
}

.category p {
    width: 100%;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.category .options {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.category .options .delete-btn,
.category .options .edit-btn {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
}

.category .options .delete-btn {
    background: #e60729;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.category .options .edit-btn {
    background: var(--gray);
    color: white;
}